<nav class="navbar fixed-top">
	<div class="container-fluid justify-content-between align-items-end px-3 py-1">
		<h1 class="text-center fs-1 ">{{title}}</h1>
		<button type="button" class="btn position-relative" (click)="goCart()">
			<i class="bi bi-cart4 text-white fw-semibold fs-2"></i>
			<span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger">
				{{counter$ | async}}
			  	<span class="visually-hidden">Quantidade de pedidos</span>
			</span>
		  </button>
	</div>
</nav>